result_recognition.py filter=lfs diff=lfs merge=lfs -text
rough_work.py filter=lfs diff=lfs merge=lfs -text
Final.py filter=lfs diff=lfs merge=lfs -text
gesture_recognizer.task filter=lfs diff=lfs merge=lfs -text
Math_calculations_with_Gretchen.pdf filter=lfs diff=lfs merge=lfs -text
forTesting.py filter=lfs diff=lfs merge=lfs -text
new[[:space:]]random.py filter=lfs diff=lfs merge=lfs -text
randoom[[:space:]]choosen[[:space:]]equation.py filter=lfs diff=lfs merge=lfs -text
switch[[:space:]]teaching[[:space:]]mode.py filter=lfs diff=lfs merge=lfs -text
switch_teaching_mode.py filter=lfs diff=lfs merge=lfs -text
ym_testing.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
maths.py filter=lfs diff=lfs merge=lfs -text
new[[:space:]]one.py filter=lfs diff=lfs merge=lfs -text
report.md filter=lfs diff=lfs merge=lfs -text
robot_motion.py filter=lfs diff=lfs merge=lfs -text
sound_checking.py filter=lfs diff=lfs merge=lfs -text
