maths.py filter=lfs diff=lfs merge=lfs -text
rough_work.py filter=lfs diff=lfs merge=lfs -text
switch_teaching[[:space:]]_mode.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
